@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Отель</title>
</head>
<body>
    <div>
        <h2>@ViewBag.Name</h2>
        <h4>Адреc: @ViewBag.Address</h4>
    </div>
    <a href="~/Home/Index">На главную</a>
</body>
</html>